.copyright
    - var webSource = "https://github.com/shlyren/web/tree/master/yuxiang.ren";
    - var year = new Date().getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p Copyright © #{year} #[a(href=config.url)!= config.author]. All rights reserved.
    p View the source code in #[a(href=webSource, target="_blank") GitHub]
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259844339'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259844339%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>