
a{text-decoration:none;}
img{max-width:100%;}
/*--end reset--*/
body {
    background: url('https://shlyren.com/images/5.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
h1 {
    font-size: 4em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-family: 'Questrial', sans-serif;
}
/*--main--*/
.main {
    padding: 8em 0 0;
}
.main-info {
    width: 50%;
    margin: 6em auto;
}


/*--//main--*/
.logo{
    text-align: center;
}
.profile-grid img {
    margin-top: 3em;
    width: 10em;
    border-radius: 50%;
    border: 4px solid #EF9F2B;
}

.profile-grid p {
    font-size: 2em;
    color: #fff;
}


.main-row {
    background: rgba(60, 94, 119, 0.44);
    padding: 1.5em;
}

.copyright {
    margin-top: 100px;
    margin: 2em 0;
    text-align: center;
}
.copyright p {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 400;
}
#name {
    font-size: 2em;
}

.copyright p a{
    color: #fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copyright p a:hover{
    color: #FE7200; 
}
